@import './effect.scss';

@font-face {
  font-family: 'Gap';
  src: url('@/assets/fonts/Gap-Regular-3.ttf') format('truetype');
}

@font-face {
  font-family: 'YeZiGongChangXiaoShiTou';
  src: url('@/assets/fonts/YeZiGongChangXiaoShiTou-2.ttf') format('truetype');
}
